.searchbar {
  background-color: rgba(252, 19, 41, 0.94);
  position: fixed;
  padding: 20px 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.loading-logo {
  animation: fade-in 600ms ease-in-out infinite;
  animation-delay: 600ms;
}


@keyframes fade-in {
  from {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  to {
    filter: alpha(opacity=1);
    opacity: 1;
  }
}