.cover-image {
  width: 100%;
  text-align: center;
}

.cover {
  margin:11px 8px;
  position: relative;
}
.cover img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}

.cover-upvoted {
  top: 0;
  left: 0;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 8px solid #fc1329;
  width: 100%;
  height: 100%;
  padding: 0;
}

.cover-heart {
  background-image: url(../../assets/heart_off.png);
  background-position: right top;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 27px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.cover-heart:hover {
  background-image: url(../../assets/heart_hover.png);
  background-position: right top;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 27px;
  background-repeat: no-repeat;
}
.cover-heart-on {
  background-image: url(../../assets/heart_on.png);
  background-position: right top;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 37px;
  background-position: right top;
}


.cover-footer {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.cover-title {
  padding: 5px;
}

.cover-issue {
  background-color: red;
  padding: 1px 3px;
  height: 30px;
}
.cover-year {
  font-size: 0.8em;
  line-height: 30px;
  padding: 3px;
  font-weight: normal;
  background-color: #2b2b2b;
  height: 30px;
}

.cover-detail {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  animation: fade-in .45s ease-in-out;
}

@keyframes fade-in {
  from {
    filter: alpha(opacity=0);
    opacity: 0;
  }
  to {
    filter: alpha(opacity=1);
    opacity: 1;
  }
}

.cover-heart {
  padding: 10px 10px 0 0;
  text-align: right;
}